body {
  margin: 0;
  font-family: 'Quicksand', sans-serif,
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,rgb(128, 7, 7),rgba(214, 41, 56, 0.938),rgb(128, 7, 7));
  color: rgba(255, 228, 228, 0.966);
  font-size: 20px;
  padding-top: 5%;
  word-wrap: break-word;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
